# This has a mojang java server version cached
/cache/

# This has the minecraft server libraries
/libraries/
/bundler/

# We don't want to commit the logs into git
/logs/
/.console_history
/usercache.json
/crash-reports/

# We don't want to commit the world saves into git
/world/
/world_nether/
/world_the_end/

# Don't commit non-config plugin data
/plugins/dynmap/
/plugins/Essentials/userdata/
/plugins/ChangeSkin/ChangeSkin.db
